<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-disable-ios11-statusbar" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-disable-ios11-statusbar</name>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="DisableStatusbar">
                <param name="ios-package" value="DisableStatusbar" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <source-file src="src/ios/DisableStatusbar.m" />
    </platform>
</plugin>